.create-card{
    width: 600px;
    border: 1px solid black;
    margin-top: 50px;
    padding: 50px;
    margin-left: 450px;
}
.create-label{
    display: flex;
    margin-top: 15px;
    margin-bottom: 7px;
    margin-left: 5px;
    color: aquamarine;
}
.create-text{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.button-flex{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
